html { font-size: 16px; }

body { position: relative; height: 100%; width: 100%; cursor: pointer; -webkit-text-size-adjust: none !important; -webkit-overflow-scrolling: touch; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-transform: translateZ(0px); }

.full { height: 100%; width: 100%; overflow: hidden; }

.center { position: absolute; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); }

.hide { display: none !important; }

body { background: -webkit-linear-gradient(#aadffa, #ffffff, #ffffff); background: -o-linear-gradient(#aadffa, #ffffff, #ffffff); background: linear-gradient(#aadffa, #ffffff, #ffffff); }

.index { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 23.4375rem; }

.index .title { width: 12.5rem; height: 5.0625rem; margin-top: 2.4375rem; }

.index .item { width: 10.25rem; height: 1.25rem; margin-top: 2.25rem; }

.index .zizhu { margin-top: 2.5625rem; }

.index .entry { width: 13rem; height: 2.5rem; border-radius: 1.25rem; margin-top: 1.125rem; background-color: #fff; box-shadow: 0 0.125rem 0.125rem rgba(80, 156, 154, 0.2); text-align: center; vertical-align: middle; font-size: 1.125rem; line-height: 1.25rem; padding: 0.625rem 0; color: #31383b; }

.index .dot { width: 20.4375rem; height: 0; border-bottom: 0.125rem dotted #d2eded; margin: 3.4375rem 0 1.6875rem 0; }

.index .q-a { margin-bottom: 1.6875rem; font-size: 0.75rem; line-height: 1.25rem; color: #007f52; text-decoration: underline; }
