@charset "UTF-8";
@import "base";

body {
    background: linear-gradient(#aadffa,#ffffff,#ffffff);
}
.index {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 750/$tr;
    height: 654/$tr;
    .title {
        width: 400/$tr;
        height: 162/$tr;
        margin-top: 78/$tr;
    }
    .item {
        width: 328/$tr;
        height: 40/$tr;
        margin-top: 72/$tr;
    }
    .zizhu {
        margin-top: 82/$tr;
    }
    .entry {
        width: 416/$tr;
        height: 80/$tr;
        border-radius: 40/$tr;
        margin-top: 36/$tr;
        background-color: #fff;
        box-shadow: 0 4/$tr 4/$tr rgba(80,156,154,0.2);

        text-align: center;
        vertical-align: middle;
        font-size: 36/$tr;
        line-height: 40/$tr;
        padding: 20/$tr 0;
        color: #31383b;
    }
    .dot {
        width: 654/$tr;
        height: 0;
        border-bottom: 4/$tr dotted #d2eded;
        margin: 110/$tr 0 54/$tr 0;
    }
    .q-a {
        margin-bottom: 54/$tr;
        font-size: 24/$tr;
        line-height: 40/$tr;
        color: #007f52;
        text-decoration:underline
    }
}