@charset "UTF-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; font-family: '微软雅黑'; }

table { border-collapse: collapse; border-spacing: 0; }

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal; }

ol, ul, li { list-style: none; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; }

a { color: #000; text-decoration: none; }

a:active { color: #000; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.clear { clear: both; }

html { -webkit-text-size-adjust: none; }

.tlbs { display: none !important; }

.ts-width { display: none !important; }

.ts-height { display: none !important; }

.ts-animatedd { display: none !important; }

tlbs-flux { display: none !important; }

html { font-size: 16px; }

body { position: relative; height: 100%; width: 100%; cursor: pointer; -webkit-text-size-adjust: none !important; -webkit-overflow-scrolling: touch; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-transform: translateZ(0px); }

.full { height: 100%; width: 100%; overflow: hidden; }

.center { position: absolute; left: 50%; transform: translateX(-50%); -webkit-transform: translateX(-50%); }

.hide { display: none !important; }

.emp { color: #1fa7a4; }

.bold { font-weight: bold; }

.g-btn { width: 12.5rem; height: 2.5rem; border: 0; background: #1fa7a4; color: #fff; text-align: center; font-size: 1rem; font-weight: bold; border-radius: 1.25rem; }

.g-ancher { font-size: 0.75rem; line-height: 1.25rem; color: #007f52; text-decoration: underline; }

.select-self { /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/ border: none; /*很关键：将默认的select选择框样式清除*/ appearance: none; -moz-appearance: none; -webkit-appearance: none; /*在选择框的最右侧中间显示小箭头图片*/ background: url("../images/arrowdown.png") no-repeat scroll right center transparent; background-size: 0.9rem 0.9rem; /*为下拉小箭头留出一点位置，避免被文字覆盖*/ vertical-align: middle; padding-right: 0.9rem; border-right: 0.8rem solid transparent; /*清除ie的默认选择框样式清除，隐藏下拉箭头*/ }

.select-self:-ms-expand { display: none; }

.share { display: flex; flex-flow: column nowrap; justify-content: flex-start; align-items: center; width: 23.4375rem; background: linear-gradient(#aadffa, #ffffff, #ffffff); }

.share .top { width: 100%; height: 19.875rem; margin-bottom: 1.0625rem; }

.share .words { font-size: 0.8125rem; color: #31383b; line-height: 1.375rem; }

.share .words:last-child { margin-bottom: 0.6875rem; }

.share .logo-words { color: #007f52; line-height: 1.375rem; font-size: 0.8125rem; font-weight: bold; font-style: italic; margin-bottom: 1.625rem; }

.share .join { position: relative; margin-bottom: 0.375rem; }

.share .join:before { content: ""; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 20.4375rem; height: 0; border-bottom: 0.125rem dotted #d2eded; }

.share .join .g-btn { position: relative; }

.share .go-look { margin-bottom: 3.25rem; }
