.m-map {
    display: flex;
    justify-content: space-between;
    margin: 20px auto 0  auto;
    width: 1120px;
    overflow: hidden;
    .map-wrapper {
        flex: 1 1 auto;
        width: 600px;
        height: 560px;
        margin-right: 40px;
        .map {
            width: 1200px;
            height: 1120px; 
            transform: scale(0.65) translate(-120px, -180px);
            transform-origin: top left;
        }
    }
    .dtl {
        flex: 0 0 auto;
        width: 400px;
        height: 100%;
        padding: 30px 40px 0;
        background-color: #fff;
        .tit {
            margin-bottom: 10px;
            font-size: 24px;
            text-align: center;
        }
        .ifo {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            padding: 0 10px;
            border-bottom: 1px solid #e6e6e6;
            line-height: 30px;
        }
        .itm {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            line-height: 50px;
        }
    }
    .sum {
        border-top: 1px solid #e6e6e6;
        text-align: center;
        .num {
            font-size: 90px;
            color: #ea5300;
        }
    }
}
