@import "../../../common/css/w-common.scss";

.page {
    padding: 50/$tr 100/$tr;
    font-size: 36/$tr;
    h2 {
        font-size: 48/$tr;
        font-weight: bold;
    }
    h3 {
        font-weight: bold;
    }
    em {
        font-weight: bold;
    }
    .red {
        color: red;
    }
}
