@import "../../../common/css/w-common.scss";

.m-state {
    padding: 100/$tr;
    font-size: 36/$tr;
    line-height: 1.7;
    text-align: justify;
    h2 {
        font-size: 48/$tr;
        font-weight: bold;
    }
    h3 {
        font-weight: bold;
    }
    em {
        font-weight: bold;
    }
    .para {
        margin-bottom: 50/$tr;
    }
    .red {
        color: red;
    }
}
