.layui-input {
    display: inline-block;
    width: 230px !important;
}
.btn {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}   