.m-ques {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    .tit {
        border-left: 2px solid #f76d02;
        padding-left: 20px;
        font-size: 24px;
        line-height: 1;
    }
    .itm {
        padding: 25px 15px;
        border-bottom: 1px solid #ccc;
        &:last-child {
            border-bottom: 0;
        }
    }
    .title {
        margin-bottom: 10px;
        color: #ea5300;
        font-size: 18px;
    }
    .dtl {
        font-size: 14px;
        line-height: 1.5;
    }
}
