.m-score {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    .tit {
        border-left: 2px solid #f76d02;
        padding-left: 20px;
        font-size: 24px;
        line-height: 1;
    }
    .form {
        .rows {
            margin: 20px 0;
            text-align: left;
        }
        .cx-rows {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            height: 30px;
        }
        .col {
            display: inline-block;
            text-align: left;
            input, select {
                height: 30px;
                line-height: 20px;
                padding-left: 10px;
                background-color: #fff;
                border: 2px solid rgb(204, 204, 204);
                border-radius: 3px;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                outline: none;
            }
            select {
                height: 30px;
                width: 60px;
            }
        }
        .btnbox {
            text-align: center;
        }
        .btn {
            display: block;
            width: 120px;
            height: 40px;
            line-height: 40px;
            padding: 2px 25px;
            margin: 0 auto;
            border-radius: 3px;
            background-color: #f76d02;
            color: #fff;
            text-align: center;
        }
        .ipt {
            width: 100px;
            height: 20px;
        }
        .select {
            width: 100px;
            height: 20px;
        }
    }
    .result {
        text-align: center;
        margin: 20px 0;
        .title {
            padding: 0 30px;
            background-color: #fff;
        }
        &:after {
            content: "";
            display: block;
            margin-top: -10px;
            border-bottom: 1px solid #ccc;
        }
    }
    .tbl {
        width: 100%;
        text-align: center;
        border: 1px solid #e6e6e6;
        th {
            text-align: center;
            background-color: #f5f5f5;
            color: #999;
        }
        tr {
            height: 40px;
            line-height: 40px;
            border-bottom: 1px solid #f5f5f5;
            &:last-child {
                border-bottom: 1px solid #e6e6e6;
            }
        }
        td {
            padding: 20px 0;
        }
    }
}
