@import "../../../common/css/w-common.scss";

.page {
    .banner{
        display: block;
        width: 100%;
        height: 417/$tr;
    }
    .tabs {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 30/$tr;
        li {
            width: 50%;
            color: #999;
            font-size: 48/$tr;
            text-align: center;
            height: 160/$tr;
            line-height: 160/$tr;
        }
        .active {
            color: #f76d02;
            border-bottom: 6/$tr solid #f76d02;
        }
    }
    .intro {
        margin-top: 70/$tr;
        .title {
            padding: 0 110/$tr;
            margin: 30/$tr auto 10/$tr auto;
            font-size: 36/$tr;
            color: rgb(51, 51, 51);
            line-height: 1.7;
            word-spacing: 10/$tr;
            font-weight: bold;
            
            &:first-child {
                margin-top: 0;
            }
        }
        .content{
            padding: 0 110/$tr;
            margin-bottom: 6/$tr;
            font-size: 36/$tr;
            color: rgb(51, 51, 51);
            line-height: 1.7;
            word-spacing: 10/$tr;
            text-indent: 72/$tr;
        }
        img {
            display: block;
            width: 860/$tr;
            margin: 30/$tr auto;
        }
        strong {
            font-weight: bold;
        }
    }
    .hide {
        display: none;
    }
}