.m-result {
    margin: 0 40px;
    .rows {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
    }
    .itm {
        width: 180px;
    }
    img {
        width: 100%;
    }
    .tit {
        margin-top: 10px;
        text-align: center;
        font-size: 14px;
    }
}
