.m-container {
    background-color: #fff;
    .nav {
        margin-top: -20px;
        line-height: 30px;
        background-color: #f6f6f6;
        p {
            margin: 0 auto;
            padding-left: 10px;
            width: 1110px;
        }
    }
    .main {
        margin: 0 auto;
        width: 1120px;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        .content {
            width: 770px;
        }
        .sider {
            margin-left: 30px;
            width: 350px;
        }
    }
}
