.m-detail {
    .title {
        border-bottom: 1px solid #f6f6f6;
        .tit {
            font-size: 24px;
            margin-bottom: 20px;
        }
        .sub {
            opacity: 0.4;
            margin-bottom: 15px;
        }
    }
    .detail {
        margin: 0 10px 30px;
        .pic {
            margin: 30px 0;
            text-align: center;
        }
        .intro {
            margin-bottom: 5px;
        }
    }
}
