.m-footer {
    background-color: #333;
    font-size: 14px;
    .links {
        margin: 0 auto;
        width: 850px;
        padding: 10px;
        overflow: hidden;
        font-size: 0;
        .ifo {
            float: right;
            margin-left: 80px;
            text-align: center;
            color: #fff;
            font-size: 14px;
            line-height: 50px;
        }
        p {
            text-align: left;
        }
        .space {
            display: inline-block;
            width: 70px;
        }
    }
    .copyright {
        line-height: 80px;
        background-color: #262626;
        color: rgba(255, 255, 255, 0.4);
        text-align: center;
    }
}
