.m-header {
    margin-bottom: 20px;
    .top {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 1120px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        color: #333;
        p {
            opacity: 0.6;
        }
        .nav {
            li {
                float: left;
                margin-left: 70px;
            }
            a {
                color: #333;
                opacity: 0.6;
            }
        }
    }
    .bottom {
        background-color: #fff;
        .cnt {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 1120px;
        }
        .home {
            cursor: hand;
        }
        .logo {
            margin-top: 15px;
        }
        .logotit {
            margin:0 0 5px 20px;
        }
        .nav {
            margin: 10px 0;
            li {
                float: left;
                margin-left: 20px;
                width: 80px;
                font-size: 18px;
                a {
                    display: block;
                    padding: 30px 0;
                    text-align: center;
                }
                a:hover {
                    color: #ea5300;
                }
                .active {
                    color: #ea5300;
                    border-bottom: 2px solid #ea5300;
                }
            }
        }
    }
}
