.m-table {
    line-height: 40px;
    margin-bottom: 20px;
    .tbl {
        width: 100%;
        tr {
            text-align: center;
            border-bottom: 1px solid #ccc;
        }
        tr:hover {
            background-color: #f6f6f6;
        }
        .w40 {
            width: 40%;
        }
        a {
            color: #4f8bbf;
            text-decoration: underline;
        }
        a:hover {
            color: orange;
        }
    }
}
