.g-course {
    .wrapper {
        position: relative;
        width: 618/$tr;
        padding: 0 34/$tr 34/$tr 44/$tr;
        border: 1px solid #e0e4ec;
        border-radius: 6/$tr;
        margin-top : 136/$tr;
        box-shadow: 0 8/$tr 8/$tr 0 rgba(80,156,154,0.2);
        .img-wrapper {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 200/$tr;
            height: 200/$tr;
            background-color: #fff;
            .portrait {
                width: 172/$tr;
                height: 172/$tr;
            }
        }
        .title {
            color: #31383b;
            font-size: 32/$tr;
            font-weight: bold;
            text-align: center;
        }
        .content {
            width: 100%;
            color: #31383b;
            font-size: 28/$tr;
            line-height: 42/$tr;
            padding-bottom: 24/$tr;
            margin-bottom: 36/$tr;
        }
        .course-title {
            margin: 116/$tr 0 20/$tr 0;
        }
        .course-content {
            border-bottom: 1/$tr solid #e0e4ec;
        }
        .tutor {
            margin-bottom: 20/$tr;
        }
    }
}