.g-btn {
    width: 400/$tr;
    height: 80/$tr;
    border: 0;
    background: $color-green;
    color: $color-white;
    text-align: center;
    font-size: 32/$tr;
    font-weight: bold;
    border-radius: 40/$tr;
}