.g-btn {
    width: 400/$tr;
    height: 80/$tr;
    border: 0;
    background: $color-green;
    color: $color-white;
    text-align: center;
    font-size: 32/$tr;
    font-weight: bold;
    border-radius: 40/$tr;
}
.g-ancher {
    font-size: 24/$tr;
    line-height: 40/$tr;
    color: #007f52;
    text-decoration:underline;
}

.select-self {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border:none;
    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("../images/arrowdown.png") no-repeat scroll right center transparent;
    background-size: 0.9rem 0.9rem;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    vertical-align: middle;
    padding-right: 0.9rem;
    border-right: 0.8rem solid transparent;
    /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
    &:-ms-expand { display: none; }
}
