.m-form {
    border: 1px solid $color-border;
    border-radius: 6/$tr;
    .row {
        display: flex;
        height: 96/$tr;
        border-bottom: 1px solid $color-border;
        &:last-child {
            border-bottom: none;
        }
        .label {
            width: 180/$tr;
            height: 100%;
            text-align: center;
            background-color: $color-gray;
            border-right: 1px solid $color-border;
            color: $color-gray1;
            font-size: 30/$tr;
            line-height: 96/$tr;
        }
        .sf {
            font-size: 26/$tr;
        }
        .fill {
            flex: 1;
            padding-left: 34/$tr;
        }
        .ipt {
            width: 100%;
            height: 100%;
            border: 0;
            outline: none;
            font-size: 30/$tr;
            color: $color-black;
        }
        .sel {
            width: 100%;
            height: 100%;
            outline: 0;
        }
    }
    .crow {
        display: flex;
        flex-direction: column;
        .label {
            width: 100%;
            height: 70/$tr;
            text-align: center;
            background-color: $color-gray;
            border-bottom: 1px solid $color-border;
            line-height: 70/$tr;
            color: $color-gray1;
            font-size: 30/$tr;
        }
        .fill {
            height: 5.4rem;
            padding: 16/$tr 30/$tr 24/$tr;
        }
        .area {
            width: 100%;
            height: 100%;
            resize: none;
            font-size: 28/$tr;
            line-height: 42/$tr;
            outline: none;
        }
    }
}