.m-ability {
    margin: 40/$tr 70/$tr;
    .tit {
        margin-bottom: 32/$tr;
        text-align: center;
        font-size: 40/$tr;
        color: $color-green;
        font-weight: bold;
    }
    .opt {
        margin-top: 40/$tr;
        text-align: center;
    }
    .mrg {
        margin-top: 40/$tr;
    }
    .agree {
        margin-left: 10/$tr;
        display: flex;
        .ifo {
            margin-left: 12/$tr;
            flex: 1;
            font-size: 24/$tr;
            color: $color-gray1;
            line-height: 40/$tr;
        }
    }
}