.entry {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 750/$tr;
    background: linear-gradient(#aadffa,#ffffff,#ffffff);
    
    .title {
        width: 400/$tr;
        height: 162/$tr;
        margin-top: 78/$tr;
    }
    .item {
        width: 328/$tr;
        height: 40/$tr;
        margin-top: 72/$tr;
    }
    .zizhu {
        margin-top: 82/$tr;
    }
    .entry-btn {
        width: 416/$tr;
        height: 80/$tr;
        border-radius: 40/$tr;
        margin-top: 36/$tr;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(80,156,154,0.2), 0 -1px 1px rgba(80,156,154,0.2), 1px 0 1px rgba(80,156,154,0.2), -1px 0 1px rgba(80,156,154,0.2);

        text-align: center;
        vertical-align: middle;
        font-size: 36/$tr;
        line-height: 80/$tr;
        color: #31383b;
    }
    .dot {
        width: 654/$tr;
        height: 0;
        border-bottom: 4/$tr dotted #d2eded;
        margin: 110/$tr 0 54/$tr 0;
    }
    .q-a {
        margin-bottom: 54/$tr;
    }
}