.m-fund {
    margin: 64/$tr 54/$tr;
    .tit {
        text-align: center;
        font-size: 40/$tr;
        color: $color-green;
        font-weight: bold;
    }
    .intro {
        margin: 34/$tr 0 42/$tr;
        font-size: 28/$tr;
        line-height: 42/$tr;
    }
    .form {
        margin: 42/$tr 0;
    }
    .info {
        margin: 42/$tr 0 46/$tr;
        .p {
            margin-top: 18/$tr;
        }
    }
    .opt {
        text-align: center;
    }
}