.m-qa {
    margin: 64/$tr 54/$tr;
    line-height: 44/$tr;
    font-size: 24/$tr;
    color: $color-black;
    .tit {
        margin-bottom: 46/$tr;
        font-size: 32/$tr;
        text-align: center;
    }
    .cnt {
        .ques {
            margin-bottom: 36/$tr;
            .q {
               display: flex;
                .lab {
                    display: inline-block;
                    margin-right: 16/$tr;
                    margin-top: 0.2rem;
                    width: 32/$tr;
                    height: 32/$tr;
                    border-radius: 32/$tr;
                    line-height: 32/$tr;
                    text-align: center;
                    font-size: 24/$tr;
                    color: $color-white;
                    background-color: $color-green;
                }
                .ifo {
                    flex: 1;
                    font-weight: bold;                    
                }
            }
            .a {
                margin-left:48/$tr;
            }
        }
    }
}