.share {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 750/$tr;
    background: linear-gradient(#aadffa,#ffffff,#ffffff);
    .top {
        width: 100%;
        height: 636/$tr;
        margin-bottom: 34/$tr;
    }
    .words {
        font-size: 26/$tr;
        color: #31383b;
        line-height: 44/$tr;
        &:last-child {
            margin-bottom: 22/$tr;
        }
    }
    .logo-words {
        color: #007f52;
        line-height: 44/$tr;
        font-size: 26/$tr;
        font-weight: bold;
        font-style: italic;

        margin-bottom: 52/$tr;
    }
    .join {
        position: relative;
        margin-bottom: 12/$tr;
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 654/$tr;
            height: 0;
            border-bottom: 4/$tr dotted #d2eded;
        }
        .g-btn {
            position: relative;
        }
    }
    .go-look {
        margin-bottom: 104/$tr;
    }
}