.m-activity {
    padding: 0 10px 20px;
    border-bottom: 1px solid #e7e7e7;
    .top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .tit {
        margin: 15px 0;
        font-size: 24px;
        .progress {
            margin-left: 20px;
            padding: 1px 6px;
            font-size: 14px;
            color: #fff;
            background-color: #67ddab;
            vertical-align: middle;
        }
    }
    .time {
        opacity: 0.4;
        margin-bottom: 15px;
    }
    .btn {
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 18px;
        border-radius: 3px;
        border: 1px solid #f76d02;
        color: #f76d02;
    }
    .fill {
        background-color: #f76d02;
        color: #fff;
        margin-right: 20px;
    }
    .abstract {
        margin-bottom: 25px;
        padding: 25px;
        background-color: #f5f5f5;
    }
}
