.m-download {
    line-height: 40px;
    margin-bottom: 60px;
    .tbl {
        width: 100%;
        tr {
            text-align: center;
        }
        tr:nth-child(2n+1) {
            background-color: #e7e7e7;
        }
        .w40 {
            width: 40%;
        }
        a {
            color: #4f8bbf;
            text-decoration: underline;
        }
        a:hover {
            color: orange;
        }
    }
}
