.m-charity {
    margin: 60px 40px 60px 60px;
    .persons {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .itm {
        margin: 0 30px 30px 0;
        width: 180px;
        img {
            display: block;
            width: 100%;
            border-radius: 5px;
        }
        .name {
            margin-top: 20px;
            text-align: center;
        }
    }
}
