.m-search {
    padding: 20px;
    height: 20px;
    width: 740px;
    background-color: #f6f6f6;
    .l {
        float: left;
    }
    .r {
        float: right;
    }
    .label {
        margin-right: 10px;
    }
    .ipt {
        width: 140px;
    }
    .select {
        width: 100px;
    }
}
