.m-tabs {
    margin-bottom: 20px;
    .btn {
        display: inline-block;
        width: 120px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        margin-right: 20px;
        font-size: 18px;
        border-radius: 3px;
        border: 1px solid #ccc;
        color: #999;
    }
    .fill {
        background-color: #f76d02;
        color: #fff;
    }
}
