.m-intro {
    margin: 60px;
    .logo {
        margin-bottom: 30px;
        img {
            display: block;
            width: 159px;
            margin: 0 auto;
        }
        .tip {
            margin: 60px 0 0 20px;
            font-size: 14px;
            color: #333;
        }
    }
    .intro {
        font-size: 18px;
        text-indent: 35px;
        p {
            color: #333;
            margin-bottom: 60px;
        }
    }
    .parallel {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .item {
            flex: 0 0 20%;
            text-align: center;
            font-size: 14px;
            color: #333;
        }
    }
    .pic {
        text-align: center;
        width: 800px;
    }
}
