.m-news {
    margin: 20px 10px 45px;
    .abstract {
        margin-bottom: 25px;
        padding: 25px;
        background-color: #f5f5f5;
    }
    .img {
        text-align: center;
        margin-bottom: 30px;
    }
}
