.m-proboard {
    padding: 20px 0;
    .tabs {
        margin: 0 auto;
        margin-bottom: 45px;
        width: 1120px;
        text-align: center;
        .tit {
            font-size: 24px;
            &:first-child {
                margin-right: 100px;
            }
        }
        .cur {
            color: #ea5300;
        }
    }
    .lst {
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        width: 1120px;
        .itm {
            width: 250px;
            border: 1px solid #e6e6e6;
            .ifo {
                padding: 0 20px 20px;
                background-color: #fff;
            }
            img {
                display: block;
                width: 100%;
            }
            .tit {
                padding: 10px 0;
                font-size: 18px;
                font-weight: bold;
            }
            .time {
                margin-bottom: 10px;
                font-size: 14px;
                opacity: 0.5;
            }
            .dtl {
                margin-bottom: 10px;
                font-size: 14px;
                opacity: 0.8;
            }
            .btn {
                display: block;
                margin: 0 auto;
                width: 120px;
                height: 40px;
                line-height: 40px;
                border-radius: 3px;
                background-color: #f76d02;
                color: #fff;
                font-size: 18px;
                text-align: center;
            }
        }
    }
}
