@import "../../../common/css/w-common.scss";

.page {
    .title {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        height: 310/$tr;
        img {
            margin-left: 150/$tr;
            width: 180/$tr;
            height: 180/$tr;
        }
        .content {
            color: #333;
            font-size: 48/$tr;
            margin-left: 60/$tr;
        }
    }
}